@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "FFMarkProMedium";
  src:
    url("/src/webFonts/FFMarkWebProMedium/font.woff2") format("woff2"),
    url("/src/webFonts/FFMarkWebProMedium/font.woff") format("woff");
  src: url("https://db.onlinewebfonts.com/t/a05747eaf46bae50f19dfa950b86befd.eot");
  src:
    url("https://db.onlinewebfonts.com/t/a05747eaf46bae50f19dfa950b86befd.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/a05747eaf46bae50f19dfa950b86befd.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/a05747eaf46bae50f19dfa950b86befd.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/a05747eaf46bae50f19dfa950b86befd.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/a05747eaf46bae50f19dfa950b86befd.svg#Mark Pro Medium")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

p a {
  @apply hover:underline;
}
