.header-container {
  position: relative;
  width: 100%;
  height: 200vh;

  .header-left {
    position: relative;
    width: 60%;
    float: left;
    height: 100%;

    .header-text-center {
      height: 50%;
      width: 70%;
      margin: 0 auto;
      display: flex;
      align-items: center;

      h1, p {
        font-family: 'FFMarkWebProLight', sans-serif;
        font-size: 2rem;
        font-weight: normal;
        letter-spacing: -0.05rem;
        text-rendering: optimizeLegibility;
      }
    }
  }
}