.video-section {
  position: relative;
  width: 100%;
  height: auto;
  box-sizing: content-box;
  clear: both;
  margin-bottom: 21vw;
}

.black-bg-container {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  min-height: 250px;
  background-color: #000;
  text-align: center;
  padding: 100px 0 60vw 0;

  .quote-anim {
    color: #fff;
    font-size: 1.3rem;
  }

  .video-container {
    position: absolute;
    width: 90%;
    background-color: transparent;
    margin: 35vw auto 0 auto;
    left: 0;
    right: 0;
  }
}

@media (min-width: 900px) {
  .black-bg-container {
    padding: 250px 0 40vw 0;
  }
  .video-container {
    margin: 15vw auto 0 auto;
  }
}